<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
    <title>Mangatheque</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Signup</a></li>
              </ul>
              <a class="about" href="/about">About</a>
        </nav>
    </header>
    {% block content %} {% endblock %}
</body>
</html>