{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Mangatheque</h1>
<form method="POST">
    <h3 align="center">Create new manga</h3>
    <div class="row">
        <div class="col">
            <label class=text-center for="mangaName">Manga Name</label>
            <input type="text" class="form-control" id="mangaName" name="mangaName" placeholder="Manga Name">
        </div>
        <div class="col">
            <label for="mangaAuthor">Manga Author</label>
            <input type="text" class="form-control" id="mangaAuthor" name="mangaAuthor" placeholder="Manga Author">
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<ul class="list-group list-group-flush" id="manga">
    {% for manga in user.manga %}
    <li class="list-group-item border" style="margin: 10px;">
        {{ manga.manga_name }}
        <button class="float-right btn btn-info" style="margin: 0px 10px;">Detail</button>
        <button class="float-right btn btn-warning" style="margin: 0px 10px;">Edit</button>
        <button class="float-right btn btn-danger" style="margin: 0px 10px;">Delete</button>
        </li>
    {% endfor %}
</ul>
{% endblock %}